<section class="w-75 mx-auto mt-5">
    <div class="row align-items-center">
      <div class="col-md-4 ">
        <owl-carousel-o [options]="imageSliderOptions">

          <ng-container *ngFor="let slide of images">
            <ng-template carouselSlide [id]="slide">
              <img class="w-100" [src]="slide">
            </ng-template>
          </ng-container>
      
        </owl-carousel-o>
      </div>
      <div class=" col-md-8">
        <div>
          <h3 class="h5">{{productDetails.title}}</h3>
          <p class="text-muted" >{{productDetails.description}}</p>
          <h4 class="h6">{{productDetails.category.name}}</h4>
          <div class="d-flex align-items-center justify-content-between">
          <span >{{productDetails.price}} EGP</span>
          <span class="text-muted"><i class="fas fa-star rating-color"></i> {{productDetails.ratingsAverage}}</span>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <div class="w-100">
        <button #btnAdd (click)="addProduct(productDetails._id, btnAdd)" class="btn-main w-100">+Add To Cart</button>
      </div>
        <div class="d-flex mb-3">
          <i *ngIf="!wishlistData.includes(productDetails._id)" class="fa-solid fa-heart " #btnicon (click)="addFav(productDetails._id)" style="font-size:xx-large; margin-left: 60px; margin-top: 10px;"></i>
          <i *ngIf="wishlistData.includes(productDetails._id)"  class="fa-solid fa-heart " #btnicon2 (click)="removeFav(productDetails._id)" style="font-size:xx-large; color: red; margin-left: 60px; margin-top: 10px;"></i>
        </div> 
      </div>
      </div>
    </div>
    </div>
</section>