h2{
    margin-top: 40px;
    margin-left: 50px;
}

.mb-3{
    margin-left: 50px;
}

input{
    width: 900px;
}

button{
    float: right;
    margin-right: 170px;
}

.forpass{
    margin-left: 50px;
    font-weight: bolder;
    font-size: 17px;
}

.forpass:hover{
    margin-left: 50px;
    font-weight: bold;
    color: #0aad0a;
}

.btn{
    padding: 10px 15px;
    font-weight: bold;
    margin-right: 140px;
    margin-top: 5px;
}

.btn:disabled{
    background-color: white;
}

.btn:enabled{
    background-color: #0aad0a;
    color: white;
}