
<section>
    <div class="container center">
        <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
            <h2 class="mb-3 mt-5">Reset Your Account Password</h2>
    
            <div class="mb-3">
                <input formControlName="email" type="email" class="form-control" id="email" placeholder="Email">
            </div>

            <div class="mb-3">
                <input formControlName="newPassword" type="password" class="form-control" id="newPassword" placeholder="Password">
            </div>

            <button class="btn btn-outline-success pt-2 pb-2 pe-4 ps-4 ">Reset Password</button>
        </form>
    </div>
</section>